#test {
    font-size: 50px;
    color: rgb(105, 186, 218);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    background: rgb(105, 218, 194);
}

.content {
    grid-column: 1;
    grid-row: 2;
}

.footer {
    grid-column: 1;
    grid-row: 3;
    background: rgb(192, 160, 223);
}

.account-container {
    display: flex;
}

a {
	position: relative;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
   	width: 60px;
    height:54px;
    text-align: center;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
    cursor:pointer;
    overflow:hidden;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    margin: 16px;
}
 
a:active {
    -webkit-transform: translate(0, 3px);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
}

a.twitter-small:active {
    -webkit-box-shadow: 0px 2px 0px #2695BC;
    -moz-box-shadow: 0px 2px 0px #2695BC;
    box-shadow: 0px 2px 0px #2695BC;
}

a.twitter-small {
    -webkit-box-shadow: 0px 6px 0px #2695BC;
    -moz-box-shadow: 0px 6px 0px #2695BC;
    box-shadow: 0px 6px 0px #2695BC;
}

a.twitter-small {
    background:#2CA9E1 url("images/twitter.png") no-repeat center center;
}

a.facebook-small:active {
    -webkit-box-shadow: 0px 2px 0px #293F63;
    -moz-box-shadow: 0px 2px 0px #293F63;
    box-shadow: 0px 2px 0px #293F63;
}

a.facebook-small {
    -webkit-box-shadow: 0px 6px 0px #293F63;
    -moz-box-shadow: 0px 6px 0px #293F63;
    box-shadow: 0px 6px 0px #293F63;
}

a.facebook-small {
    background:#3B5997 url("images/facebook.png") no-repeat center center;
}

a.github-small:active {
    -webkit-box-shadow: 0px 2px 0px #000000;
    -moz-box-shadow: 0px 2px 0px rgb(13, 14, 15);
    box-shadow: 0px 2px 0px #000000;
}

a.github-small:active {
    -webkit-box-shadow: 0px 2px 0px #000000;
    -moz-box-shadow: 0px 2px 0px #000000;
    box-shadow: 0px 2px 0px #000000;
}

a.github-small {
    -webkit-box-shadow: 0px 6px 0px #000000;
    -moz-box-shadow: 0px 6px 0px #000000;
    box-shadow: 0px 6px 0px #000000;
}

a.github-small {
    background:#24292e url("images/github.png") no-repeat center center;
}

a.github-small:active {
    -webkit-box-shadow: 0px 2px 0px #000000;
    -moz-box-shadow: 0px 2px 0px #000000;
    box-shadow: 0px 2px 0px #000000;
}